/* Dependencies
========================================================================== */
@value o-heading "sass-loader!~/assets/styles/objects/objects.heading.scss";
@value o-box "sass-loader!~/assets/styles/objects/objects.box.scss";
@value o-page-section "sass-loader!~/assets/styles/objects/objects.page-section.scss";

@value u-spacings "sass-loader!~/assets/styles/utilities/utilities.spacings.scss";





/* Root
========================================================================== */

.root {
  composes: heading heading--beta  from o-heading;
  composes: margin-bottom-none from u-spacings;
  composes: page-section padded from o-page-section;
}





/* Children
========================================================================== */

.icon {
  composes: margin-right-sm  from u-spacings;
  height: .8em;
}