/* Dependencies
========================================================================== */
@value o-heading "sass-loader!~/assets/styles/objects/objects.heading.scss";

@value u-spacings "sass-loader!~/assets/styles/utilities/utilities.spacings.scss";



/* Heading
========================================================================== */
.root {
  composes: heading heading--beta  from o-heading;
  composes: margin-bottom-lg  from u-spacings;
}

.icon {
  composes: margin-right-sm  from u-spacings;
  height: .8em;
}