/* Dependencies
========================================================================== */

@import "~assets/styles/values/values.breakpoints";
@import "node_modules/sass-mq/mq";

@value o-box "sass-loader!~/assets/styles/objects/objects.box.scss";
@value o-liner "sass-loader!~/assets/styles/objects/objects.liner.scss";
@value o-heading "sass-loader!~/assets/styles/objects/objects.heading.scss";

@value c-background-color "sass-loader!~/assets/styles/cosmetics/cosmetics.background-color.scss";
@value c-border "sass-loader!~/assets/styles/cosmetics/cosmetics.border.scss";

@value u-spacings "sass-loader!~/assets/styles/utilities/utilities.spacings.scss";





/* Root
========================================================================== */

.root {
  composes: neutral-95  from c-background-color;
  composes: bottom right light  from c-border;
  position: relative;
  height: 100%;
  
  @include mq($from: tablet) {
    height: 100vh;
    overflow-y: scroll;
  }
}


/* Layout
========================================================================== */

.inner {
  composes: liner  from o-liner;
  
  @include mq($until: tablet) {
    position: relative;
  }
}

  .innerInner {
    composes: box  from o-box;    
  }





/* Heading
========================================================================== */
.sidebarHeading {
  composes: heading heading--delta  from o-heading;
  composes: padding-bottom-sm  from u-spacings;
  composes: bottom very-light  from c-border;
}
