/* Dependencies
========================================================================== */
@value o-text "sass-loader!~/assets/styles/objects/objects.text.scss";
@value o-heading "sass-loader!~/assets/styles/objects/objects.heading.scss";
@value o-grid "sass-loader!~/assets/styles/objects/objects.grid.scss";

@value c-background-color "sass-loader!~/assets/styles/cosmetics/cosmetics.background-color.scss";

@import '~assets/styles/values/values.colors.scss';
@import '~assets/styles/values/values.sizes.scss';





/* Variables
========================================================================== */
$radius: 50px;
$thickness: 4px;

$color-highest: red;
$color-warning: orange;
$color-lowest: green;

$duration: 10s;



/* Transition
========================================================================== */
@keyframes rotate-fill {
  100% {
    transform: rotate(180deg);
  }
}





/* Root class
========================================================================== */
.root {
  position: relative;
  width: $radius*2;
  height: $radius*2;
  font-size: 0; /*[1]*/
  overflow: hidden;
  border-radius: 100%;
  
  &:after {
    content: '';  
    z-index: 2; /*[2]*/
    border-radius: 100%;
    position: absolute;
    top: $thickness;
    left: $thickness;
    right: $thickness;
    bottom: $thickness;
    background-color: white;
  }

}





/* The two halves
========================================================================== */
.donutHalf {
  z-index: 1; /*[2]*/
  width: 50%;
  height: 100%;
  position: relative;
  display: inline-block;
  transition: background-color 1s ease;
  background-color: $color-highest;
  overflow: hidden;
  
  &.s-has-reached-warning {
    background-color: $color-warning;
  }

}

.donutFill {
  content: '';
  width: 200%;
  height: 200%;
  top: -50%;
  position: absolute;
  background-color: $color-lowest;
  transform: rotate(0deg);
  transition: transform $duration linear;
  animation-name: rotate-fill;
  animation-duration: $duration;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
 }


.donutHalfRight {
  > .donutFill {
    transform-origin: 0% 50%;
    left: 0;
  }
}

.donutHalfLeft {
  > .donutFill {
    transform-origin: 100% 50%;
    right: 0;
    animation-delay: $duration;
  }
}




/* Value
========================================================================== */
.value {
  composes: heading heading--beta  from o-heading;
  z-index: 3;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}