<div :class="$style.root">
  <svg :class="$style.svg" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
    
    <!-- Background circle -->
    <path
      fill="transparent"
      :class="$style.backgroundPath"
      :d="dBg"
      :stroke-width="strokeWidth"/>
    
    <!-- Move to start position, start drawing arc -->
    <path
      fill="transparent"
      :class="$style.arcPath"
      :d="d"
      :stroke-width="strokeWidth"/>

  </svg>
  <span :class="$style.value">{{ computedValue }}</span>
</div>