<!-- <div :class="$style.root">
  <div :class="$style.value">
      {{ computedValue }}
  </div>
  <div :class="[$style.donutHalf, $style.donutHalfLeft]">
      <div :class="$style.donutFill" id="jsDonutFillLeft"></div>
  </div>
  <div :class="[$style.donutHalf, $style.donutHalfRight]">
    <div :class="$style.donutFill" id="jsDonutFillRight"></div>
  </div>
  
</div> -->
<div :class="$style.root">
  <div :class="$style.donut">
    <span :class="$style.value">{{ computedValue }}</span>
    <span :class="$style.fill"></span>
  </div>
</div>