/* ==========================================================================
   # BOX
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.sizes";

// TOOLS
@import "node_modules/inuitcss/tools/tools.clearfix";





/* Base class
========================================================================== */

.box {
  @include inuit-clearfix();
  display: block;
  padding: $unit-md;

  > :last-child {
    margin-bottom: 0;
  }
}





/* Size modifiers
========================================================================== */

.box--flush {
  padding: 0;
}

.box--xs {
  padding: $unit-xs;
}

.box--sm {
  padding: $unit-sm;
}

.box--lg {
  padding: $unit-lg;
}

.box--xl {
  padding: $unit-xl;
}
