/* ==========================================================================
   # CODE
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.typography";





/* Base class
========================================================================== */

.heading {
  font-family: $font-display;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  margin-bottom: $unit-sm;
}





/* Size modifiers
========================================================================== */

.heading--sm {}





/* Layout modifiers
========================================================================== */