/* ==========================================================================
   # LIST-INLINE
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.sizes";





/* Base class
========================================================================== */

.list-inline {
  display: block;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}




/* Child classes
========================================================================== */

.list-inline__item {
  display: inline-block;
  margin-right: $unit-md;

  > :last-child {
    margin-right: 0;
  }
}




/* Size modifiers
========================================================================== */

.list-inline--flush {
  margin-right: 0;
}

.list-inline--xs {
  margin-right: $unit-xs;
}

.list-inline--sm {
  margin-right: $unit-sm;
}

.list-inline--lg {
  margin-right: $unit-lg;
}

.list-inline--xl {
  margin-right: $unit-xl;
}
