/* ==========================================================================
   # CODE
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.typography";





/* Base class
========================================================================== */

.text {
  font-family: $font-body;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}





/* Size modifiers
========================================================================== */

.text--sm {
  font-size: $font-size-sm;
}

.text--lg {
  font-size: $font-size-lg;
}





/* Layout modifiers
========================================================================== */

.text--paragraph {
  margin-bottom: $unit-lg;
}