/* ==========================================================================
   # CODE
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.typography";





/* Base class
========================================================================== */

.code {
  font-family: $font-mono;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}





/* Size modifiers
========================================================================== */

.code--sm {
  font-size: $font-size-sm;
}


