/* ==========================================================================
   # CODE
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.typography";
@import "~assets/styles/values/values.breakpoints";

// TOOLS
@import "node_modules/sass-mq/mq";




/* Base class
========================================================================== */

.heading {
  font-family: $font-display;
  font-weight: $font-weight-bold;
  margin-bottom: $unit-sm;
}





/* Size modifiers
========================================================================== */

.heading--alpha {
  font-size: $font-size-xxl;
  @include mq($from: tablet) {
    font-size: $font-size-xxxl;
  }
}

.heading--beta {
  font-size: $font-size-xl;
  @include mq($from: tablet) {
    font-size: $font-size-xxl;
  }
}

.heading--gamma {
  font-size: $font-size-lg;
  @include mq($from: tablet) {
    font-size: $font-size-xl;
  }
}

.heading--delta {
  font-size: $font-size-md;
  @include mq($from: tablet) {
    font-size: $font-size-lg;
  }
}





/* Layout modifiers
========================================================================== */