/* ==========================================================================
   # LIST-DIRECTORY
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.sizes";





/* Base class
========================================================================== */

.list-directory {
  padding-left: $unit-sm + $unit-xs;
  list-style: none;
}






/* Child classes
========================================================================== */

  .list-directory__item {
    position: relative;
    margin-bottom: $unit-xs;
    
    &:last-child {
      margin-bottom: 0;
    }

  }

    .list-directory__line {
      position: absolute;
      top: $unit-xs;
      left: $unit-xs;
      bottom: $unit-xs;
    }