/* ==========================================================================
   # Center
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */
// NONE





/* By axis
========================================================================== */

.both {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


.y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}


.x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}
