/* ==========================================================================
   # BREAKPOINTS
========================================================================== */

/**
 *  Fed to varius other tools, but primarily consumed by sass-mq
 */



/* Dependencies
========================================================================== */
// NONE





/* Values
========================================================================== */
$mq-breakpoints: (
  tiny: 320px,
  mobile: 540px,
  tablet: 740px,
  desktop: 1000px,
  wide: 1300px
)