/* ==========================================================================
   # COLORS
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */
// NONE





/* Neutral
========================================================================== */

// By lightness
$darkest: hsl(0, 0, 0%);
$lightest: hsl(0, 0, 100%);


// Not by lightness
$neutral-00: $darkest;
$neutral-100: $lightest;
$neutral-10: mix($neutral-100, $neutral-00, 10%);
$neutral-30: mix($neutral-100, $neutral-00, 30%);
$neutral-70: mix($neutral-100, $neutral-00, 70%);
$neutral-90: mix($neutral-100, $neutral-00, 90%);