/* ==========================================================================
   # COLORS
========================================================================== */

/**
 *  Self-explanatory
 */



/* Dependencies
========================================================================== */
// NONE





/* Neutral
========================================================================== */

$darkest: hsl(0, 0, 0%);
$lightest: hsl(0, 0, 100%);

// By lightness
$lightness-100: $lightest;
$lightness-10: mix($lightest, $darkest, 10%);
$lightness-20: mix($lightest, $darkest, 20%);
$lightness-30: mix($lightest, $darkest, 30%);
$lightness-40: mix($lightest, $darkest, 40%);
$lightness-50: mix($lightest, $darkest, 50%);
$lightness-60: mix($lightest, $darkest, 60%);
$lightness-70: mix($lightest, $darkest, 70%);
$lightness-80: mix($lightest, $darkest, 80%);
$lightness-90: mix($lightest, $darkest, 90%);
$lightness-00: $darkest;


// By contrast
$neutral-00: $darkest;
$neutral-100: $lightest;

$neutral-05: mix($neutral-100, $neutral-00, 5%);
$neutral-10: mix($neutral-100, $neutral-00, 10%);
$neutral-15: mix($neutral-100, $neutral-00, 15%);
$neutral-20: mix($neutral-100, $neutral-00, 20%);
$neutral-30: mix($neutral-100, $neutral-00, 30%);

$neutral-50: mix($neutral-100, $neutral-00, 50%);

$neutral-70: mix($neutral-100, $neutral-00, 70%);
$neutral-80: mix($neutral-100, $neutral-00, 80%);
$neutral-85: mix($neutral-100, $neutral-00, 85%);
$neutral-90: mix($neutral-100, $neutral-00, 90%);
$neutral-95: mix($neutral-100, $neutral-00, 95%);




/* Common (by color name)
========================================================================== */
$red: hsla(358, 88, 55, 1);
$pink: hsla(346, 78, 78, 1);
$purple: hsla(290, 20, 40, 1);
$blue: hsla(217, 80, 60, 1);
$blue-green: hsla(170, 80, 42, 1);
$green: hsla(144, 80, 40, 1);
$yellow-green: hsla(84, 90, 60, 1);
$yellow: hsla(52, 93, 53, 1);
$orange: hsla(30, 95, 60, 1);