/* ==========================================================================
   # TEXT-COLOR
========================================================================== */

/**
 *  Apply simple color to element
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.colors";





/* Variables
========================================================================== */
$contrast-colors: (
  'neutral-00': $neutral-00,
  'neutral-05': $neutral-05,
  'neutral-10': $neutral-10,
  'neutral-20': $neutral-20,
  'neutral-30': $neutral-30,
  'neutral-70': $neutral-70,
  'neutral-80': $neutral-80,
  'neutral-90': $neutral-90,
  'neutral-95': $neutral-95,
  'neutral-100': $neutral-100
);

$lightness-colors: (
  'darkest': $darkest,
  'dark': $lightness-10,
  'light': $lightness-90,
  'lightest': $lightest
);

$common-colors: (
  'blue': $blue,
  'orange': $orange,
  'green': $green,
  'purple': $purple,
  'yellow': $yellow,
  'red': $red
);





/* By contrast
========================================================================== */
@each $contrast-color-namespace, $contrast-color in $contrast-colors {

  .#{$contrast-color-namespace} {
    color: $contrast-color;
  }

  // .hover-#{$contrast-color-namespace} {
  //   &:hover {
  //     color: $contrast-color;
  //   }
  // }
  
}





/* By lightness
========================================================================== */
@each $lightness-color-namespace, $lightness-color in $lightness-colors {
  
  .#{$lightness-color-namespace} {
    color: $lightness-color;
  }

  // .hover-#{$lightness-color-namespace} {
  //   &:hover {
  //     color: $lightness-color;
  //   }
  // }
  
}





/* Common colors
========================================================================== */
@each $common-color-namespace, $common-color in $common-colors {
  
  .#{$common-color-namespace} {
    color: $common-color;
  }

  // .hover-#{$common-color-namespace} {
  //   &:hover {
  //     color: $common-color;
  //   }
  // }
  
}