/* ==========================================================================
   # BORDER-RADIUS
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */







/* Edge(s)
========================================================================== */

.sm {
  border-radius: 2px
}

.md {
  border-radius: 4px
}

.lg {
  border-radius: 8px
}
