/* ==========================================================================
   # BACKGROUND-COLOR
========================================================================== */

/**
 *  Apply simple background-color / color combos
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.colors";





/* Variables
========================================================================== */
// NONE




/* Standard
========================================================================== */
.normal {
  box-shadow: 0 2px $neutral-70;
}

.heavy {
  box-shadow: 0 2px $neutral-00;
}

.light {
  box-shadow: 0 2px $neutral-90;
}