/* ==========================================================================
   # BORDER-RADIUS
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */
// NONE



/* Standard
========================================================================== */

.sm {
  border-radius: 2px;
}

.md {
  border-radius: 4px;
}

.lg {
  border-radius: 8px;
}





/* Selective
========================================================================== */

.top-lg {
  border-radius: 10px 10px 0 0;
}


.bottom-lg {
  border-radius: 0 0 10px 10px;
}
