/* ==========================================================================
   # BACKGROUND-COLOR
========================================================================== */

/**
 *  Apply simple background-color / color combos
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.colors";

// TOOLS
@import "~assets/styles/tools/tools.iterate-colors";
@import "~assets/styles/tools/tools.contrasting-color";





/* By contrast
========================================================================== */

.neutral-00 {
  background-color: $neutral-00;
  color: contrasting-color($neutral-00, $lightest, $darkest);
}

.neutral-05 {
  background-color: $neutral-05;
  color: contrasting-color($neutral-05, $lightest, $darkest);
}

.neutral-95 {
  background-color: $neutral-95;
  color: contrasting-color($neutral-95, $lightest, $darkest);
}

.neutral-100 {
  background-color: $neutral-100;
  color: contrasting-color($neutral-100, $lightest, $darkest);
}





/* By Lightness
========================================================================== */

.darkest {
  background-color: $darkest;
  color: $lightest;
}

.dark {
  background-color: $lightness-10;
  color: $lightest;
}

.light {
  background-color: $lightness-90;
  color: $darkest;
}

.lightest {
  background-color: $lightest;
  color: $darkest;
}





/* By Color
========================================================================== */

.blue {
  background-color: $blue;
  color: contrasting-color($blue, $lightest, $darkest);
}

.orange {
  background-color: $orange;
  color: contrasting-color($orange, $lightest, $darkest);
}

.green {
  background-color: $green;
  color: contrasting-color($green, $lightest, $darkest);
}

.purple {
  background-color: $purple;
  color: contrasting-color($purple, $lightest, $darkest);
}




/* Misc
========================================================================== */

.each-different {
  @include iterate-colors();
}