/* ==========================================================================
   # BACKGROUND-COLOR
========================================================================== */

/**
 *  Apply simple background-color / color combos
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.colors";





/* By Color
========================================================================== */

.blue {
  background-color: blue;
  color: $lightest;
}

.black {
  background-color: $darkest;
  color: $lightest;
}

.orange {
  background-color: orange;
  color: $darkest;
}





/* By Lightness
========================================================================== */
.darkest {
  background-color: $darkest;
  color: $lightest;
}