/* ==========================================================================
   # BUTTON
========================================================================== */

/**
 *  Apply button styling to any element
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.colors";




/* Base class
========================================================================== */
.button {
  background-color: $neutral-00;
  color: $neutral-100;
  &:hover {
    background-color: $neutral-30;
  }
}