/* ==========================================================================
   # BUTTON
========================================================================== */

/**
 *  Apply button styling to any element
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.colors";





/* Base class
========================================================================== */
.button {
  background-color: $neutral-00;
  color: $neutral-100;
  &:hover {
    background-color: $neutral-30;
  }
}





/* Style modifiation
========================================================================== */
.soft-hover-only {
  &:hover,
  &:focus {
    background-color: $neutral-100;
    box-shadow: inset 0 0 0 1px $neutral-70;
  }
}