<ui-card :class="$style.root">
  <div :class="$style.inner">

    <div :class="$style.donutWrapper">
      <ui-donut :value="donutValue" :outOf="donutOutOf"></ui-donut>
    </div>

    <div :class="$style.textWrapper">
      <h3 :class="$style.heading" v-if="heading">{{ heading }}</h3>
      <p :class="$style.copy">
        <slot></slot>
      </p>
    </div>

    <ui-mini-menu>
      <ui-menu-item label="Do this thing" iconName="chevron-right"></ui-menu-item>
      <ui-menu-item label="Do this other thing" iconName="folder"></ui-menu-item>
      <ui-menu-item label="Maybe just this" iconName="chevron-right"></ui-menu-item>
      <ui-menu-item label="Do this other thing" iconName="folder"></ui-menu-item>
      <ui-menu-item label="Do this other thing" iconName="folder"></ui-menu-item>
    </ui-mini-menu>

  </div>
</ui-card>