/* Dependencies
========================================================================== */
@value o-box "sass-loader!~/assets/styles/objects/objects.box.scss";

@value c-background-color "sass-loader!~/assets/styles/cosmetics/cosmetics.background-color.scss";
@value c-shadow "sass-loader!~/assets/styles/cosmetics/cosmetics.shadow.scss";
@value c-border-radius "sass-loader!~/assets/styles/cosmetics/cosmetics.border-radius.scss";

@value u-spacings "sass-loader!~/assets/styles/utilities/utilities.spacings.scss";





/* Root class
========================================================================== */
.root {
  composes: box  from o-box;
  composes: neutral-100  from c-background-color;
  composes: md from c-border-radius;
  composes: shadow rounded-md  from c-shadow;
  position: relative;
}

.root_contrastNormal {
  composes: normal  from c-shadow;
}

.root_contrastHeavy {
  composes: heavy  from c-shadow;
}

.root_contrastLight {
  composes: light  from c-shadow;
}
