/* ==========================================================================
   # MY-RESETS
========================================================================== */

/**
 *  Standardise the rendering of elements across browsers/contexts
 */



/* GENERAL
========================================================================== */

* {
  box-sizing: border-box;
  &:after,
  &:before {
    box-sizing: border-box;
  }
}


section {
  max-width: 100%;
}


a {
  color: inherit;
}


a,
pre,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}


.fa-icon {
  height: auto;
  width: 1.2em; /* or any other relative font sizes */
  
  /* You would have to include the following two lines to make this work in Safari */
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}


pre {
  font-family: inherit;
}





/* FORMS
========================================================================== */
fieldset {
  border: none;
  outline: none;
  text-align: left;
  padding: 0;
  margin: 0;
}