/* ==========================================================================
   # MY-RESETS
========================================================================== */

/**
 *  Standardise the rendering of elements across browsers/contexts
 */




/* RESETS
========================================================================== */
a {
  color: inherit;
  // text-decoration: none;
}

a,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}


.fa-icon {
  vertical-align: middle;
}