/* Dependencies
========================================================================== */

@import "~assets/styles/values/values.colors";

@value o-text "sass-loader!~/assets/styles/objects/objects.text.scss";
@value o-list-directory "sass-loader!~/assets/styles/objects/objects.list-directory.scss";
@value o-liner "sass-loader!~/assets/styles/objects/objects.liner.scss";

@value c-text-color "sass-loader!~/assets/styles/cosmetics/cosmetics.text-color.scss";
@value c-background-color "sass-loader!~/assets/styles/cosmetics/cosmetics.background-color.scss";
@value c-border "sass-loader!~/assets/styles/cosmetics/cosmetics.border.scss";
@value c-button "sass-loader!~/assets/styles/cosmetics/cosmetics.button.scss";
@value c-text-style "sass-loader!~/assets/styles/cosmetics/cosmetics.text-style.scss";

@value u-spacings "sass-loader!~/assets/styles/utilities/utilities.spacings.scss";
@value u-hidden-visually "sass-loader!~/assets/styles/utilities/utilities.hidden-visually.scss";





/* Root class
========================================================================== */

.root {
  //
}





/* Item
========================================================================== */

.item {
  composes: text  from o-text;
  composes: list-directory__item  from o-list-directory;
  composes: margin-right-lg  from u-spacings;
  composes: neutral-30  from c-text-color;
  composes: soft-hover-only  from c-button;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  position: relative;
}


.item_isOpen {
  composes: bold  from c-text-style;
  color: $neutral-00;
}


.item_isActive {
  // NEEDS WORK
}


  .itemIcon {
    composes: margin-right-sm  from u-spacings;
  }





/* Toggle
========================================================================== */

.toggle {
  composes: padding-xs  from u-spacings;
  display: block;
  position: relative;
  
  &:hover,
  &:focus {
    background-color: $neutral-90;
    box-shadow: inset 0 0 0 1px $neutral-70;
  }
}


.toggle_isDisabled {
  pointer-events: none;
}





/* File Link
========================================================================== */

.fileLink {
  composes: liner liner--link-bloater  from o-liner;
  
  &:hover,
  &:focus {
    background-color: $neutral-90;
    box-shadow: inset 0 0 0 1px $neutral-70;
  }
}


  .fileLinkText {
    composes: hidden-visually  from u-hidden-visually;
  }





/* Preview Link
========================================================================== */

/**
 *  Easiest to repeat .item here as this block of code relates to
 *  .previewLink
 */

.item {
  &:hover,
  &:focus {
    > .previewLink {
      background-color: $neutral-100;
      box-shadow: inset 0 0 0 1px $neutral-70;
      
      &:hover,
      &:focus {
        background-color: $neutral-90;
        box-shadow: inset 0 0 0 1px $neutral-70;
      }
    }
  }
}

.previewLink {
  composes: liner liner--break-left  from o-liner;
  composes: padding-horizontal-xs  from u-spacings;
  composes: neutral-10  from c-text-color;
  display: flex;
  align-items: center;
  cursor: pointer;

  > .previewLinkIcon {
    opacity: .7;
  }
  
  &:hover,
  &:focus {
    > .previewLinkIcon {
      opacity: 1;
    }
  }
}

  .previewLinkIcon {
    height: 1em;
  }





/* Folder contents
========================================================================== */

.folderContentsList {
  composes: list-directory  from o-list-directory;
  composes: list-directory__item  from o-list-directory;
}

  .indentLine {
    composes: list-directory__line  from o-list-directory;
    composes: heavy left  from c-border;
  }