/* ==========================================================================
   # PAGE
========================================================================== */

/**
 *  ___NOTES___
 */



/* Dependencies
========================================================================== */

// VALUES
@import "~assets/styles/values/values.colors";





/* Styles
========================================================================== */

/**
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 */

html {
  overflow: hidden; /* [1] */
  overflow-y: scroll; /* [1] */
  position: relative;
  background-color: $neutral-00;
  color: $darkest;
  width: 100%;
}


body {
  width: 100%;
  background-color: $neutral-95;
}